:root {
  --button-yellow: #ffdb80;
  --button-white: #ffffff;
  --button-gradient-text-violet: #6d31d0;
  --gradient-pink: #fdbfa3;
  --gradient-yellow: #ffeb80;
  --gradient-text-blue: #828cde;
  --text-grey: #434364;
}
/* General Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}
/* Home Header */
.burger-menu-icon {
  background-color: transparent;
  border: none;
}

.header-section {
  display: flex;
  background: linear-gradient(to right, #53269d, #6d31d0);
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
}

/* Home Home-Hero */

.home-hero {
  background-image: url(../images/img-480/home-background-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 710px;
}

@media (min-resolution: 192dpi) {
  .home-hero {
    background-image: url(../images/img-480/home-background-mob-2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.home-hero-header-one {
  text-align: center;
  padding: 0 40px 0 40px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.home-hero-header-four {
  text-align: center;
  padding: 0 40px 30px 40px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.home-hero-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-left: 57.5px;
  padding-right: 57.5px;
  padding-bottom: 30px;
}

.home-hero-button {
  display: flex;
  width: 200px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 88.2px;
  border: none;
  background: linear-gradient(
    to right,
    var(--gradient-yellow),
    var(--gradient-pink)
  );
  color: var(--button-gradient-text-violet);
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin: 0 auto;
}
.home-our-services {
  background: linear-gradient(#828cde, #6d31d0);
}
