:root {
  --button-yellow: #ffdb80;
  --button-white: #ffffff;
  --button-gradient-text-violet: #6d31d0;
  --gradient-pink: #fdbfa3;
  --gradient-yellow: #ffeb80;
  --gradient-text-blue: #828cde;
  --text-grey: #434364;
}
